---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/HeroBlock.astro';
import Services from '../components/ServicesBlock.astro';
import HowItWorks from '../components/HowItWorks.astro';
import SocialProof from '../components/SocialProof.astro';
import CTABand from '../components/CTABand.astro';
import Footer from '../components/FooterBlock.astro';
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <Services />
    <HowItWorks />
    <SocialProof />
    <CTABand />
  </main>
  <Footer />
</Layout>
